.main {
            margin: 20px;
        }

        .logo div {
            line-height: 1.0;
            text-align: center;
        }

        .logo .top-logo {
            font-size: 30px;
            font-weight: bold;


        }

        .logo .down-logo {
            font-weight: 500;
            font-size: 20px;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            text-decoration: underline;
        }

        .right-nav {
            display: flex;
            gap: 20px;
            font-size: 18px;
            align-items: center;
        }

        .right-nav button {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            font-size: 15px;
            background-color: rgb(24, 119, 242);
            color: white;
            font-weight: 700;
            border: none;
            cursor: pointer;
        }

        .catalog {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding-left: 40px;
            padding-right: 40px;
        }

        .left-c {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 50%;
        }

        .left-c h1 {
            font-size: 50px;
            font-family: 'Times New Roman', Times, serif;
            margin-bottom: 5px;

        }

        .left-c p {
            font-size: 16px;
            line-height: 1.5;
        }

        .right-c {
            width: 50%;
            background-color: black;
            border-radius: 15px;
            overflow: hidden;
            height: 762px;

        }

        .right-c img,
        .right-c video,
        .down-lc img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .top-lc {
            height: 400px;
            background-color: rgb(211, 211, 252);
            border-radius: 15px;
            padding-left: 38px;
            padding-right: 38px;
            overflow: hidden;

        }

        .down-lc {
            display: flex;
            gap: 10px;
            height: 350px;

        }

        .down-lc .left-dlc {
            width: 50%;
            background-color: aliceblue;
            border-radius: 15px;
            overflow: hidden;
        }

        .down-lc .right-dlc {
            width: 50%;
            border-radius: 15px;
            overflow: hidden;
        }

        img {
            width: 200px;
        }

        .top-lc p {
            color: #333;
            margin-bottom: 65px;
        }

        .top-lc button {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 5px;
            font-size: 15px;
            background-color: rgb(8, 8, 8);
            color: white;
            font-weight: 500;
            border: none;
            cursor: pointer;
        }

        .decor-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;

        }

        .all-decor {
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 50px;
        }

        .decor-item {

            width: 100%;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
            padding: 10px;
        }

        .decor-img {
            overflow: hidden;
            height: 250px;
            border-radius: 15px;
        }

        .decor-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
        }

        .decor-title {
            margin-top: 15px;
            margin-bottom: 5px;
            font-size: 26px;
            font-weight: 700;
        }

        .decor-price {
            font-size: 16px;
            margin-bottom: 29px;
        }

        .decor-price span {
            color: rgb(24, 119, 242);

        }

        .decor-img img:hover {
            scale: 1.15;

        }

        .decor-info {
            padding: 8px;
        }

        .decor-desc {
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .decor-item button {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 5px;
            font-size: 15px;
            background-color: rgb(24, 119, 242);
            color: white;
            font-weight: 500;
            border: none;
            cursor: pointer;
        }

        .footer {
            text-align: center;
            background-color: wheat;
            padding: 15px;
            margin-top: 10px;
            font-size: 18px;
        }